<a href="https://colab.research.google.com/github/jingxuchen19/ECON5200-Applied-Data-Analytics-in-Economics/blob/main/%5BLab_1%5D_Hello%2C_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Step 1
import pandas as pd
import numpy as np

In [7]:
# Step 2
# Manual Dictionary Construction
# Data Source: Table 1.4 (Jan 2015)
# INSTRUCTION: Complete the lists inside the brackets below.
# Ensure strings have quotes '' and number do not.

data = {
    'Country': ['United States', 'Argentina', 'Australia', 'Brazil', 'Britain', 'China', 'Egypt', 'Euro area', 'Hong Kong', 'Indonesia', 'Japan', 'Mexico', 'Norway', 'Pakistan', 'Philippines', 'Russia', 'Saudi Arabia', 'South Africa', 'South Korea'],
    'iso_a3': ['USA', 'ARG', 'AUS', 'BRA', 'GBR', 'CHN', 'EGY', 'EUZ', 'HKG', 'IDN', 'JPN', 'MEX', 'NOR', 'PAK', 'PHL', 'RUS', 'SAU', 'ZAF', 'KOR'],
    'local_price':[4.79, 28, 5.30, 13.50, 2.89, 17.20, 16.93, 3.68, 18.80, 27.939, 370, 49, 48, 300, 163, 89, 11, 25.50, 4100],
    'dollar_ex':[1, 8.62, 1.23, 2.59, 0.66, 6.21, 7.36, 0.86, 7.74, 12472, 117.83, 14.63, 7.62, 100.67, 44.41, 65.44, 3.75, 11.49, 1084.66]
}

# Convert to DataFrame
df = pd.DataFrame(data)
print(df)

          Country iso_a3  local_price  dollar_ex
0   United States    USA        4.790       1.00
1       Argentina    ARG       28.000       8.62
2       Australia    AUS        5.300       1.23
3          Brazil    BRA       13.500       2.59
4         Britain    GBR        2.890       0.66
5           China    CHN       17.200       6.21
6           Egypt    EGY       16.930       7.36
7       Euro area    EUZ        3.680       0.86
8       Hong Kong    HKG       18.800       7.74
9       Indonesia    IDN       27.939   12472.00
10          Japan    JPN      370.000     117.83
11         Mexico    MEX       49.000      14.63
12         Norway    NOR       48.000       7.62
13       Pakistan    PAK      300.000     100.67
14    Philippines    PHL      163.000      44.41
15         Russia    RUS       89.000      65.44
16   Saudi Arabia    SAU       11.000       3.75
17   South Africa    ZAF       25.500      11.49
18    South Korea    KOR     4100.000    1084.66